:root{
    --main-color: #d3ad7f;
    --black: #13131a;
    --background: #010103;
    --border: 0.1rem solid rgba(255,255,255,0.3);
    --border-nav: 0.1rem solid #d3ad7f;
    font-size: 10px;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    /*text-transform: capitalize;*/ /*Isso faz com que toda palavra comece com letra maiúscula.*/
    transition: 0.2s linear;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: var(--background);
}

section{
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header{
    position: fixed; /*Isso faz com que o menu fique fixo durante toda a página*/
    top: 0;
    left: 0;
    right: 0;
    z-index: 99; /*Isso define quem fica na frente e quem fica atrás*/
    border-bottom: var(--border);
    background-color: var(--background);
}

.header section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.nave-bar a{
    margin: 0 1rem;
    font-size: 2rem;
    color: #fff;
}

.nave-bar a:hover{
    color: var(--main-color);
    border-bottom: var(--border-nav);
    padding-bottom: 0.5rem;
    font-size: 2.2rem;
}

.icones img{
    margin: 1rem;
    cursor: pointer;
}

.icones img:hover{
    width: 40px;
    height: 40px;
}

.botao{
    background: var(--main-color);
    color: #fff;
    padding: 1rem 3rem;
    font-size: 2rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
}

.botao:hover{
    letter-spacing: 0.1rem;
}

.home-container{
    background: url(./img/home-img.jpg);
    background-position: center;
    background-size: cover; /*Cover serve para cobrir o espaço todo da tela*/
}

.home-container section{
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.content{
    max-width: 60rem;
}

.content h3{
    color: #fff;
    font-size: 5rem;
}

.content p{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 100;
    line-height: 1.8;
    padding: 1rem 0;
}

.title{
    font-size: 4rem;
    color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.title span {
    color: #fff;
    text-transform: uppercase;
}

.sobre .row{
    display: flex;
    align-items: center;
    background-color: var(--black);
    gap: 1.5rem;
}

.sobre .row .content{
    padding: 2rem;
}

.sobre .row .content h3{
    font-size: 3rem;
    color: #fff;
}

.sobre .row .content p{
    font-size: 1.5rem;
    color: #fff;
    padding: 1rem 0;
    line-height: 1.8;
}

.box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box{
    text-align: center;
    border: var(--border);
    padding: 5rem;
    cursor: pointer;
}

.menu .box-container .box img{
    height: 10rem;
}

.menu .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price{
    color: #fff;
    font-size: 2.5rem;
    padding: 0.5rem 0;
}

.menu .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: 100;
}

.menu .box-container .box:hover{
    background-color: #fff;
}

.menu .box-container .box:hover>*{
    color: var(--black);
}

.avaliacoes .box-container .box{
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}

.avaliacoes .box-container .box p{
    font-size: 1.5rem;
    color: #fff;
    padding: 2rem 0;
    line-height: 1.8;
    font-weight: 100;
}

.avaliacoes .box-container .box h3{
    font-size: 1.5rem;
    color: #fff;
    padding: 2rem 0;
    line-height: 1.8;
    font-weight: 100;
}

.avaliacoes .box-container .user{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
}

.endereco{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer{
    text-align: center;
}

.footer .share{
    padding: 0.3rem 0;
}

.footer .share img{
    cursor: pointer;
}

.footer .share img:hover{
    transform: scale(1.1);
}